<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Senha Incorreta</title>
</head>
<body>
	<script type="text/javascript">
		confirm("Senha incorreta!")
		window.location.replace('/room/<%= roomId %>')
	</script>
</body>
</html>