*{
	margin: 0;
	border: none;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}
html {
	--black: #0D114F;
	--white: #FAFAFA;
	--red: #E83F5B;
	--light-blue: #E0ECFF;
	--blue: #3485FF;
	--background: #FBFCFF;
	--overlay: #040911;
	--icons-details: #A5B0C1;

	--gray-dark: #4D5E77;
	--gray-blue: #A1B2CD;
	--gray-light: #E5EAF1;
	--gray-medium: #EAECF2;

	font-size: 62.5%;
}

body {
	display: flex;
	height: 100vh;
	background: var(--background);
}

body, button, input, textarea {
	font-size: clamp(14px, 1.6rem, 2vw);
	font-family: 'Open Sans', sans-serif;
	/* font-family: 'Poppins', sans-serif; */
}

.content {
	width: 100%;
	margin: 0 auto;
}

.sr-only {
	position: absolute;
	height: 1px;
	width: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip-path: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

input, button, .button{
	border-radius: 0.8rem;
	height: 5rem;
}

button, .button {
	font-size: 'Poppins', sans-serif;
	font-weight: 500;
	line-height: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--blue);
	color: var(--white);
	transition: filter 0.2s;

	cursor: pointer;
}

button:hover, .button:hover{
	filter: brightness(1.2);
}

button > img, .button > img{
	margin-right: 1rem;
	width: 2rem;
}

button.outlined, .button.outlined{
	background: var(--white);
	color: var(--blue);
	border: 0.2rem solid var(--blue);
}

button.red, .button.red{
	background: var(--red);
	color: var(--white);
}

button.gray, .button.gray{
	background: var(--gray-light);
	color: var(--gray-dark);
}

.content header{
	width: 80%;
	margin: 3.5rem auto;
	
}


.content header img{
	width: 16.7rem;

}